# Coursera Applied Data Science Capstone WEEK 3

Importing Libraries

In [105]:
import pandas as pd
import numpy as np

-----------------

# Transforming the data in the table on the wikipedia page into a pandas dataframe.

In [106]:
tables= pd.read_html(r"C:\Users\Administrador\Desktop\Machine Learning\Coursera\List of postal codes of Canada_ M - Wikipedia.html")

In [107]:
len(tables)

3

In [108]:
toronto_nb= tables[0]

-----------------------------

# Data cleaning and preparation

In [109]:
toronto_nb.describe(include='O')

       Postcode       Borough Neighbourhood
count       289           289           289
unique      180            12           210
top         M9V  Not assigned  Not assigned
freq          8            77            78

We are not going to process the cells tha have a Not assignet Borough

In [110]:
# let`s tranforn de dataframe excluding the cells that include  a Not assignet Borough
toronto_nb = toronto_nb[toronto_nb.Borough != 'Not assigned']

In [111]:
toronto_nb.describe(include='O')

       Postcode    Borough   Neighbourhood
count       212        212             212
unique      103         11             210
top         M8Y  Etobicoke  St. James Town
freq          8         45               2

Now we need to join the rows that have the same postal code, usimg groupby(), apply() and .join

In [112]:
toronto_nb = toronto_nb.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [113]:
toronto_nb.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [114]:
toronto_nb.describe(include='O')

       Postcode     Borough        Neighbourhood
count       103         103                  103
unique      103          11                  103
top         M9B  North York  Downsview Northwest
freq          1          24                    1

In [115]:
#Checking the dataframe shape
toronto_nb.shape

(103, 3)

# Our Dataframe is ready to be used

---------------------------------------------------------------------

Now we are goint to build our second DataFrame

In [117]:
df=pd.read_csv(r"C:\Users\Administrador\Desktop\Machine Learning\Coursera\Geospatial_Coordinates.csv")

In [130]:
df.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

The next step will merge our data sets

In [127]:
# We need to macht the columns name in our data frames
toronto_nb.rename(columns={ 'Postcode':'Postal Code'},inplace=True)

In [128]:
toronto_nb.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [131]:
df_final=pd.merge(toronto_nb,df,how='left',on='Postal Code')

In [133]:
df_final.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476